<section class="hero-classes" data-width="full">
  <span class="badge box-animation">Clases Grupales </span>
  <h1 class="title box-animation">
    <span>Encuentra Tu Clase </span>
    <br />
    <span>Perfecta</span>
  </h1>
  <h2 class="subtitle box-animation">
    Únete a la mejor comunidad fitness con entrenadores profesionales,
    equipamiento de última generación y un ambiente que te motivará a superar
    tus límites cada día.
  </h2>
  <div class="wrapper-buttons box-animation">
    <a href="/">Ver Horarios</a>
    <a href="/">Clase de Prueba Gratis</a>
  </div>
</section>

<style>
  @import url("./hero-classes.css");
</style>
