<section class="hero-product" data-width="full">
  <span class="badge box-animation">Tienda Morros Training</span>
  <h1 class="title box-animation">
    <span>Todo lo que Necesitas </span>
    <br />
    <span>Para Tu Entrenamiento </span>
  </h1>
  <h2 class="subtitle box-animation">
    Descubre nuestra selección de productos premium: suplementos, equipamiento,
    ropa deportiva y accesorios de las mejores marcas para potenciar tu
    rendimiento.
  </h2>
</section>

<style>
  @import url("./hero-products.css");
</style>
