<section class="hero-home" data-width="full">
  <span class="badge box-animation">Bienvenido a Morros Training</span>
  <h1 class="title box-animation">
    <span>Transforma Tu Vida</span>
    <br />
    <span>Alcanza Tus Metas</span>
  </h1>
  <h2 class="subtitle box-animation">
    Únete a la mejor comunidad fitness con entrenadores profesionales,
    equipamiento de última generación y un ambiente que te motivará a superar
    tus límites cada día.
  </h2>
  <div class="wrapper-buttons box-animation">
    <a href="/">Comienza Hoy</a>
    <a href="/">Ver Planes</a>
  </div>
</section>

<style>
  @import url("./hero-home.css");
</style>
