---
import { TRAINERS } from "@/core/static/coaches";
import CardCoach from "../card-coach/card-coach.astro";
---

<section class="box-animation">
  <h2 data-text="NUESTRO EQUIPO" class="title">
    Nuestro Equipo de Entrenadores
  </h2>
  <p class="subtitle">
    Cada miembro de nuestro equipo está altamente calificado y comprometido con
    tu éxito
  </p>
  <ul class="list-coaches">
    {TRAINERS.map((trainer) => <CardCoach {...trainer} />)}
  </ul>
</section>

<style>
  @import url("./list-coaches.css");
</style>
