<section class="hero-contact" data-width="full">
  <span class="badge box-animation">Contacto</span>
  <h1 class="title box-animation">
    <span>Estamos Aquí</span>
    <br />
    <span>Para Ayudarte</span>
  </h1>
  <h2 class="subtitle box-animation">
    ¿Tienes preguntas sobre nuestros servicios, membresías o clases? Nuestro
    equipo está listo para ayudarte a encontrar la mejor opción para tus
    objetivos fitness.
  </h2>
</section>

<style>
  @import url("./hero-contact.css");
</style>
