.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: var(--font-regular);
}

.select {
  padding: 1rem;
  border-radius: var(--rounded-lg);
  background-color: var(--surface-alt-color);
  border: solid 1px var(--border-on-muted);
  color: var(--primary-text);
  font-size: var(--text-base);
}
