---
const link =
  "https://wa.me/+51920849772?text=%C2%A1Hola!%20Estoy%20interesado%20en%20unirme%20al%20gimnasio";
---

<section class="call-to-action" data-width="full">
  <h1 class="title box-animation">¿Primera Vez en Morros Training?</h1>
  <h2 class="subtitle box-animation">
    Prueba cualquier clase gratis y descubre cuál es la perfecta para ti
  </h2>
  <div class="wrapper-buttons box-animation">
    <a href={link} class="button-action box-animation">Obtener Clase Gratis</a>
  </div>
</section>

<style>
  @import url("./call-to-action.css");
</style>
