---
import { TESTIMONIALS } from "@/features/home/static/testimonials";
import CardTestimonial from "../../molecules/card-testimonial/card-testimonial.astro";
---

<section class="wrapper-testimonials box-animation">
  <h2 class="title">Lo Que Dicen Nuestros Miembros</h2>
  <p class="subtitle">Historias reales de transformación y éxito</p>
  <div class="cards-testimonials">
    {
      TESTIMONIALS.map((testimonial) => (
        <CardTestimonial
          name={testimonial.name}
          comment={testimonial.comment}
          imageUrl={testimonial.avatar}
        />
      ))
    }
  </div>
</section>

<style>
  @import url("./testimonials.css");
</style>
