---
const { title, description, icon: Icon } = Astro.props;
---

<div class="wrapper-card">
  <div class="wrapper-icon">
    <Icon size={32} />
  </div>
  <h3 class="title">{title}</h3>
  <p class="description">{description}</p>
</div>

<style>
  @import url("./card-benefit.css");
</style>
