<section class="call-to-action" data-width="full">
  <h1 class="title box-animation">¿Listo para Comenzar?</h1>
  <h2 class="subtitle box-animation">
    Únete a Morros Training hoy y comienza tu transformación con 7 días de
    prueba gratuita
  </h2>
  <div class="wrapper-buttons box-animation">
    <a
      href="https://wa.me/51920849772?text=%C2%A1Hola!%20Deseo%20obtener%20la%20prueba%20gratuita."
      target="_blank"
      arial-label="Obtener Prueba Gratis"
      class="button-action box-animation">Obtener Prueba Gratis</a
    >
  </div>
</section>

<style>
  @import url("./call-to-action.css");
</style>
