---
const { name, imageUri } = Astro.props;
---

<div
  class="wrapper-card"
  style={{
    backgroundImage: `url(${imageUri})`,
  }}
>
  <h3 class="coach-name">{name}</h3>
  <h4 class="coach-title">Entrenador</h4>
</div>

<style>
  @import url("./coach-card.css");
</style>
