---
import { GYM_FEATURES } from "@/features/home/static/features";
import { CardInfo } from "../../molecules";
---

<section class="wrapper-choose box-animation">
  <h1 class="title">¿Por Que Elegir Morros Training?</h1>
  <h2 class="subtitle">
    Ofrecemos todo lo que necesitas para alcanzar tus objetivos fitness
  </h2>
  <div class="list-card">
    {
      GYM_FEATURES.map((feature) => (
        <CardInfo
          icon={feature.icon}
          title={feature.title}
          description={feature.description}
        />
      ))
    }
  </div>
</section>

<style>
  @import url("./why-choose-gym.css");
</style>
