<section class="hero-membership" data-width="full">
  <span class="badge box-animation">Membresías Morros Training</span>
  <h1 class="title box-animation">
    <span>Elige Tu Plan</span>
    <br />
    <span>Perfecto</span>
  </h1>
  <h2 class="subtitle box-animation">
    Descubre nuestros planes de membresía diseñados para adaptarse a tu estilo
    de vida y objetivos fitness. Desde acceso básico hasta experiencias VIP
    premium.
  </h2>
  <div class="wrapper-buttons box-animation">
    <a href="/">Ver Planes</a>
    <a href="/">Prueba 7 días gratis</a>
  </div>
</section>

<style>
  @import url("./hero-membership.css");
</style>
