---
import { Send } from "@/core/assets/icons";
import { Input, Select, Textarea } from "../../molecules";

const options = [
  {
    value: "Membresías",
    label: "Membresías",
  },
  {
    value: "Entrenamiento",
    label: "Entrenamiento",
  },
  {
    value: "Clases",
    label: "Clases",
  },
  {
    value: "Otros",
    label: "Otros",
  },
];
---

<section data-width="full" class="box-animation">
  <div class="wrapper">
    <h2 class="title">Envíanos un Mensaje</h2>
    <p class="subtitle">
      Completa el formulario y nos pondremos en contacto contigo lo antes
      posible.
    </p>
    <form class="form" id="form-contact">
      <Input id="form-name" label="Nombre Completo" placeholder="Tu nombre" />
      <Input
        id="form-email"
        label="Email"
        placeholder="example@example.com"
        type="email"
      />
      <Input
        id="form-phone"
        label="Teléfono"
        placeholder="+54 11 2345 6789"
        type="tel"
      />
      <Select
        id="form-subject"
        label="Asunto"
        options={options}
        placeholder="Seleccione un asunto"
      />
      <Textarea
        id="form-message"
        label="Mensaje"
        placeholder="Cuéntanos como podemos ayudarte..."
      />
      <button type="submit" class="button">
        <Send size={18} /> Enviar Mensaje</button
      >
    </form>
  </div>
</section>

<style>
  @import url("./form-contact.css");
</style>

<script>
  /** IMPLEMENTAR ENVÍO DE CORREO */
  import { $ } from "@/core/lib/dom-selector";

  const form = $("#form-contact")! as HTMLFormElement;
  const name = $("#form-name")!;

  form.addEventListener("submit", (e) => {
    e.preventDefault();
    const formData = new FormData(form);
    const data = {
      name: formData.get("form-name"),
      email: formData.get("form-email"),
      phone: formData.get("form-phone"),
      subject: formData.get("form-subject"),
      message: formData.get("form-message"),
    };

    clearForm();
  });

  function clearForm() {
    form.reset();
    name.focus();
  }
</script>
