<section class="hero-coach" data-width="full">
  <span class="badge box-animation">Equipo Profesional </span>
  <h1 class="title box-animation">
    <span>Conoce a Nuestros</span>
    <br />
    <span>Entrenadores Expertos</span>
  </h1>
  <h2 class="subtitle box-animation">
    Un equipo de profesionales certificados y apasionados, listos para ayudarte
    a alcanzar tus objetivos de fitness. Cada entrenador aporta años de
    experiencia y especialización única para brindarte el mejor servicio.
  </h2>
  <div class="wrapper-buttons box-animation">
    <a href="/">Reservar Sesión Gratuita</a>
    <a href="/">Ver Horarios</a>
  </div>
</section>

<style>
  @import url("./hero-coach.css");
</style>
