---
import { SERVICES } from "@/features/home/static/services";
import { ServiceCard } from "../../molecules";
---

<section class="wrapper-services box-animation" data-width="full">
  <h2 class="title">Nuestros Servicios</h2>
  <p class="subtitle">
    Descubre todo lo que tenemos para ofrecerte en Morros Training
  </p>
  <div class="list-services">
    {
      SERVICES.map((service) => (
        <ServiceCard
          icon={service.icon}
          title={service.title}
          description={service.description}
          url={service.url}
        />
      ))
    }
  </div>
</section>

<style>
  @import url("./services.css");
</style>
