.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: var(--font-regular);
}

.textarea {
  padding: 1rem;
  border-radius: var(--rounded-lg);
  background-color: var(--surface-alt-color);
  border: solid 1px var(--border-on-muted);
  color: var(--primary-text);
  font-size: var(--text-base);
}

.textarea:focus {
  outline: none;
  box-shadow: none;
  border: solid 1px var(--border-on-primary);
}

@media (width >= 48rem) {
  .wrapper {
    grid-column: span 2;
  }
}
