---
const link =
  "https://wa.me/+51920849772?text=%C2%A1Hola!%20Estoy%20interesado%20en%20unirme%20al%20gimnasio";
---

<section class="call-to-action box-animation" data-width="full">
  <h2 class="title">¿Necesitas Asesoramiento?</h2>
  <p class="subtitle">
    Nuestros expertos pueden ayudarte a elegir los productos perfectos para tus
    objetivos
  </p>
  <a href={link} class="button-action">Consulta Gratuita</a>
</section>

<style>
  @import url("./call-to-action.css");
</style>
